.carousel-inner img{
width: 1440px;
height: 584px;
}
.card-radius{
    border-radius: 30px;
    height: 480px; 
    width: 292px;
}
 .topping{
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    top: -25px;
    padding: 10px 10px;
    right: 40px;
}